.img-fluid {
    width: 100px;
}
#sidebarMenu {
    background-image: linear-gradient(to right top, #0059b3, #236fc6, #3a85da, #509cec, #66b3ff);
}
#sidebarMenu a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 16.5px;
    display: block;
    padding: .5rem 1rem;
}
#sidebarMenu a:hover {
    color: #e6e6e6;
}
#sidebarMenu a li svg {
    margin-right: 5px;;
}

#sidebarMenu .profile-img {
    padding-top: 20px;
    padding-bottom: 40px;
}
.sidebar-sticky {
    position: sticky;
    height: calc(100vh - 48px);
}

main .breadcrumb{
    background-color: white !important
}

main.home .card-title {
    font-weight: 600;
}

main.home h2 {
    padding-top: 40px;
    padding-bottom: 20px;
    font-weight: 600;
}

main.home table .btn-action a{
    color: white;
}